In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "mydjango13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.015) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

In [4]:
Shop

mall.models.Shop

# Create

In [5]:
shop = Shop() # 첫 문자 대문자로, class명은 CamelCase로 만듬
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [6]:
shop.save()

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:41:01.323169', '2021-12-01 06:41:01.323169'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 06:41:01.323169', '2021-12-01 06:41:01.323169']

In [7]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone="042-1234-4321",
)
shop

(0.047) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:41:01.663095', '2021-12-01 06:41:01.663095'); args=['셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 06:41:01.663095', '2021-12-01 06:41:01.663095']

# Select

In [8]:
qs = Shop.objects.all()

In [9]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

6 셀프24시빨래방 042-1234-4321
5 투썸플레이스 042-1234-1234
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

In [10]:
qs.order_by("-id")#, "created_at") # 정렬은 가급적 단일 컬럼

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# 데이터 뻥튀기

In [13]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:31.953499', '2021-12-01 06:45:31.953499'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 06:45:31.953499', '2021-12-01 06:45:31.953499']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:31.975763', '2021-12-01 06:45:31.975763'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 06:45:31.975763', '2021-12-01 06:45:31.975763']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:31.982745', '2021-12-01 06:45:31.982745'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 06:45:31.982745', '2021-12-01 06:45:31.982745']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:31.990723', '2021-12-01 06:45:31.990723'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 06:45:31.990723', '2021-12-01 06:45:31.990723']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:31.998704', '2021-12-01 06:45:31.998704'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 06:45:31.998704', '2021-12-01 06:45:31.998704']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:32.005733', '2021-12-01 06:45:32.005733'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 06:45:32.005733', '2021-12-01 06:45:32.005733']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:32.013713', '2021-12-01 06:45:32.013713'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 06:45:32.013713', '2021-12-01 06:45:32.013713']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:32.021692', '2021-12-01 06:45:32.021692'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 06:45:32.021692', '2021-12-01 06:45:32.021692']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:32.028729', '2021-12-01 06:45:32.028729'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 06:45:32.028729', '2021-12-01 06:45:32.028729']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:32.036705', '2021-12-01 06:45:32.036705'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 06:45:32.036705', '2021-12-01 06:45:32.036705']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:32.050668', '2021-12-01 06:45:32.050668'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 06:45:32.050668', '2021-12-01 06:45:32.050668']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:32.057649', '2021-12-01 06:45:32.057649'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 06:45:32.057649', '2021-12-01 06:45:32.057649']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:32.065628', '2021-12-01 06:45:32.065628'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 06:45:32.065628', '2021-12-01 06:45:32.065628']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:32.077155', '2021-12-01 06:45:32.077155'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 06:45:32.077155', '2021-12-01 06:45:32.077155']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:32.086131', '2021-12-01 06:45:32.086131'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 06:45:32.086131', '2021-12-01 06:45:32.086131']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:32.092115', '2021-12-01 06:45:32.092115'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 06:45:32.092115', '2021-12-01 06:45:32.092115']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:32.101090', '2021-12-01 06:45:32.101090'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 06:45:32.101090', '2021-12-01 06:45:32.101090']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:32.107611', '2021-12-01 06:45:32.107611'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 06:45:32.107611', '2021-12-01 06:45:32.107611']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:32.116606', '2021-12-01 06:45:32.116606'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 06:45:32.116606', '2021-12-01 06:45:32.116606']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:32.124609', '2021-12-01 06:45:32.124609'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 06:45:32.124609', '2021-12-01 06:45:32.124609']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:32.132589', '2021-12-01 06:45:32.132589'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 06:45:32.132589', '2021-12-01 06:45:32.132589']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:32.141816', '2021-12-01 06:45:32.141816'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 06:45:32.141816', '2021-12-01 06:45:32.141816']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:32.151794', '2021-12-01 06:45:32.151794'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 06:45:32.151794', '2021-12-01 06:45:32.151794']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:32.158775', '2021-12-01 06:45:32.158775'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 06:45:32.158775', '2021-12-01 06:45:32.158775']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:32.166753', '2021-12-01 06:45:32.166753'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 06:45:32.166753', '2021-12-01 06:45:32.166753']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:32.174731', '2021-12-01 06:45:32.174731'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 06:45:32.174731', '2021-12-01 06:45:32.174731']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:32.182710', '2021-12-01 06:45:32.182710'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 06:45:32.182710', '2021-12-01 06:45:32.182710']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:32.189692', '2021-12-01 06:45:32.189692'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 06:45:32.189692', '2021-12-01 06:45:32.189692']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:32.197681', '2021-12-01 06:45:32.197681'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 06:45:32.197681', '2021-12-01 06:45:32.197681']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:32.204689', '2021-12-01 06:45:32.204689'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 06:45:32.204689', '2021-12-01 06:45:32.204689']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:32.213672', '2021-12-01 06:45:32.213672'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 06:45:32.213672', '2021-12-01 06:45:32.213672']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:32.221649', '2021-12-01 06:45:32.221649'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 06:45:32.221649', '2021-12-01 06:45:32.221649']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:32.229684', '2021-12-01 06:45:32.229684'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 06:45:32.229684', '2021-12-01 06:45:32.229684']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:32.238010', '2021-12-01 06:45:32.238010'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 06:45:32.238010', '2021-12-01 06:45:32.238010']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:32.246989', '2021-12-01 06:45:32.246989'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 06:45:32.246989', '2021-12-01 06:45:32.246989']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:32.255564', '2021-12-01 06:45:32.255564'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 06:45:32.255564', '2021-12-01 06:45:32.255564']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:32.263542', '2021-12-01 06:45:32.263542'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 06:45:32.263542', '2021-12-01 06:45:32.263542']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:32.287902', '2021-12-01 06:45:32.287902'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 06:45:32.287902', '2021-12-01 06:45:32.287902']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:32.297873', '2021-12-01 06:45:32.297873'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 06:45:32.297873', '2021-12-01 06:45:32.297873']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:32.308901', '2021-12-01 06:45:32.308901'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 06:45:32.308901', '2021-12-01 06:45:32.308901']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:32.318877', '2021-12-01 06:45:32.318877'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 06:45:32.318877', '2021-12-01 06:45:32.318877']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:32.327698', '2021-12-01 06:45:32.327698'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 06:45:32.327698', '2021-12-01 06:45:32.327698']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:32.337676', '2021-12-01 06:45:32.337676'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 06:45:32.337676', '2021-12-01 06:45:32.337676']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:32.346658', '2021-12-01 06:45:32.346658'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 06:45:32.346658', '2021-12-01 06:45:32.346658']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:32.356534', '2021-12-01 06:45:32.356534'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 06:45:32.356534', '2021-12-01 06:45:32.356534']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:32.364513', '2021-12-01 06:45:32.364513'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 06:45:32.364513', '2021-12-01 06:45:32.364513']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:32.371494', '2021-12-01 06:45:32.371494'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 06:45:32.371494', '2021-12-01 06:45:32.371494']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:32.379473', '2021-12-01 06:45:32.379473'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 06:45:32.379473', '2021-12-01 06:45:32.379473']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:32.390084', '2021-12-01 06:45:32.390084'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 06:45:32.390084', '2021-12-01 06:45:32.390084']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:32.397066', '2021-12-01 06:45:32.397066'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 06:45:32.397066', '2021-12-01 06:45:32.397066']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:32.404053', '2021-12-01 06:45:32.404053'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 06:45:32.404053', '2021-12-01 06:45:32.404053']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:32.412041', '2021-12-01 06:45:32.412041'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 06:45:32.412041', '2021-12-01 06:45:32.412041']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:32.418017', '2021-12-01 06:45:32.418017'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 06:45:32.418017', '2021-12-01 06:45:32.418017']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:32.424576', '2021-12-01 06:45:32.424576'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 06:45:32.424576', '2021-12-01 06:45:32.424576']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:32.431560', '2021-12-01 06:45:32.431560'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 06:45:32.431560', '2021-12-01 06:45:32.431560']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:32.438180', '2021-12-01 06:45:32.438180'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 06:45:32.438180', '2021-12-01 06:45:32.438180']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:32.446531', '2021-12-01 06:45:32.446531'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 06:45:32.446531', '2021-12-01 06:45:32.446531']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:32.452513', '2021-12-01 06:45:32.452513'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 06:45:32.452513', '2021-12-01 06:45:32.452513']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:32.458498', '2021-12-01 06:45:32.458498'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 06:45:32.458498', '2021-12-01 06:45:32.458498']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:32.470066', '2021-12-01 06:45:32.470066'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 06:45:32.470066', '2021-12-01 06:45:32.470066']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:32.477496', '2021-12-01 06:45:32.477496'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 06:45:32.477496', '2021-12-01 06:45:32.477496']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:32.485164', '2021-12-01 06:45:32.485164'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 06:45:32.485164', '2021-12-01 06:45:32.485164']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:32.491817', '2021-12-01 06:45:32.491817'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 06:45:32.491817', '2021-12-01 06:45:32.491817']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:32.499811', '2021-12-01 06:45:32.499811'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 06:45:32.499811', '2021-12-01 06:45:32.499811']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:32.506287', '2021-12-01 06:45:32.506287'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 06:45:32.506287', '2021-12-01 06:45:32.506287']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:32.513270', '2021-12-01 06:45:32.513270'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 06:45:32.513270', '2021-12-01 06:45:32.513270']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:32.519253', '2021-12-01 06:45:32.519253'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 06:45:32.519253', '2021-12-01 06:45:32.519253']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:32.525481', '2021-12-01 06:45:32.525481'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 06:45:32.525481', '2021-12-01 06:45:32.525481']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:32.533460', '2021-12-01 06:45:32.533460'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 06:45:32.533460', '2021-12-01 06:45:32.533460']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:32.542159', '2021-12-01 06:45:32.542159'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 06:45:32.542159', '2021-12-01 06:45:32.542159']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:32.549142', '2021-12-01 06:45:32.549142'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 06:45:32.549142', '2021-12-01 06:45:32.549142']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:32.556224', '2021-12-01 06:45:32.556224'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 06:45:32.556224', '2021-12-01 06:45:32.556224']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:32.571086', '2021-12-01 06:45:32.571086'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 06:45:32.571086', '2021-12-01 06:45:32.571086']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:32.579035', '2021-12-01 06:45:32.579035'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 06:45:32.579035', '2021-12-01 06:45:32.579035']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:32.586009', '2021-12-01 06:45:32.586009'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 06:45:32.586009', '2021-12-01 06:45:32.586009']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:32.591993', '2021-12-01 06:45:32.591993'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 06:45:32.591993', '2021-12-01 06:45:32.591993']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:32.611987', '2021-12-01 06:45:32.611987'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 06:45:32.611987', '2021-12-01 06:45:32.611987']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:32.619967', '2021-12-01 06:45:32.619967'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 06:45:32.619967', '2021-12-01 06:45:32.619967']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:32.625951', '2021-12-01 06:45:32.625951'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 06:45:32.625951', '2021-12-01 06:45:32.625951']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:32.634927', '2021-12-01 06:45:32.634927'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 06:45:32.634927', '2021-12-01 06:45:32.634927']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:32.640971', '2021-12-01 06:45:32.641968'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 06:45:32.640971', '2021-12-01 06:45:32.641968']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:32.651943', '2021-12-01 06:45:32.651943'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 06:45:32.651943', '2021-12-01 06:45:32.651943']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:32.658867', '2021-12-01 06:45:32.658867'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 06:45:32.658867', '2021-12-01 06:45:32.658867']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:32.666859', '2021-12-01 06:45:32.666859'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 06:45:32.666859', '2021-12-01 06:45:32.666859']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:32.672830', '2021-12-01 06:45:32.672830'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 06:45:32.672830', '2021-12-01 06:45:32.672830']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:32.680809', '2021-12-01 06:45:32.680809'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 06:45:32.680809', '2021-12-01 06:45:32.680809']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:32.691582', '2021-12-01 06:45:32.691582'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 06:45:32.691582', '2021-12-01 06:45:32.691582']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:32.698549', '2021-12-01 06:45:32.698549'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 06:45:32.698549', '2021-12-01 06:45:32.698549']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:32.708751', '2021-12-01 06:45:32.708751'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 06:45:32.708751', '2021-12-01 06:45:32.708751']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:32.720717', '2021-12-01 06:45:32.720717'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 06:45:32.720717', '2021-12-01 06:45:32.720717']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:32.729694', '2021-12-01 06:45:32.729694'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 06:45:32.729694', '2021-12-01 06:45:32.729694']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:32.740665', '2021-12-01 06:45:32.740665'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 06:45:32.740665', '2021-12-01 06:45:32.740665']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:32.750654', '2021-12-01 06:45:32.750654'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 06:45:32.750654', '2021-12-01 06:45:32.750654']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:32.763046', '2021-12-01 06:45:32.763046'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 06:45:32.763046', '2021-12-01 06:45:32.763046']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:32.771606', '2021-12-01 06:45:32.771606'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 06:45:32.771606', '2021-12-01 06:45:32.771606']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:32.779586', '2021-12-01 06:45:32.779586'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 06:45:32.779586', '2021-12-01 06:45:32.779586']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:32.786903', '2021-12-01 06:45:32.786903'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 06:45:32.786903', '2021-12-01 06:45:32.786903']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:32.795615', '2021-12-01 06:45:32.795615'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 06:45:32.795615', '2021-12-01 06:45:32.795615']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:32.802596', '2021-12-01 06:45:32.802596'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 06:45:32.802596', '2021-12-01 06:45:32.802596']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:32.808229', '2021-12-01 06:45:32.808229'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 06:45:32.808229', '2021-12-01 06:45:32.808229']

## Slicing

In [16]:
qs = Shop.objects.all()

In [17]:
qs[:10] # first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>]>

In [18]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (106)>,
 <Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>]

In [21]:
qs[-10:] # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [23]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

12 가게명#6 042-1234-9006
11 가게명#5 042-1234-9005
10 가게명#4 042-1234-9004
9 가게명#3 042-1234-9003
8 가게명#2 042-1234-9002
7 가게명#1 042-1234-9001
6 셀프24시빨래방 042-1234-4321
5 투썸플레이스 042-1234-1234
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234

# Conditions

In [24]:
qs = Shop.objects.all()

In [25]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [26]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [28]:
# lt : less than            <
# lte : less than equal     <=
# gt : greater than         >
# gte : greater than equal  >=
qs.filter(
    pk__gte=5,
    pk__lt=10, # less than
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [29]:
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [32]:
qs1 = Shop.objects.all()
qs1 = qs1.filter(pk__gte=5)
qs1 = qs1.filter(pk__lt=10)

In [33]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [34]:
# QuerySet is Lazy (부정적인 뜻 아님)
# 출력할 때 필요로 할 때 기동, 그전엔 대기만 하고 있음

In [35]:
qs = Shop.objects.all() # 변수에 값을 '할당'만 한 것이므로 출력될 '값'이 없음

In [36]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [38]:
qs = Shop.objects.all()
shop_list = list(qs)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

## Get 1 Row

In [43]:
pk=10
not_existed_pk = 100000

In [40]:
shop = Shop.objects.get(pk=pk)  # 가져올 대상이 1개임을 기대. 1개가 아니면 예외가 발생.
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [44]:
Shop.objects.get(pk=not_existed_pk)  # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [41]:
Shop.objects.filter(pk=pk)  # 가져올 대상이 여러개임을 기대

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(10,)

In [42]:
Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [45]:
Shop.objects.filter(pk=not_existed_pk)[0]  # IndexError 예외가 발생( [0] 번 인덱스로 접근했기 때문)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [46]:
Shop.objects.filter(pk=not_existed_pk).first()  # 지정 row가 없다면 None을 반환할 뿐, 예외는 발생X.

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions (OR)

In [47]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10)  # AND

(0.016) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [49]:
from django.db.models import Q

In [50]:
Q(pk__gte=5)

In [51]:
Q(pk__lt=10)

In [52]:
Q(pk__gte=5) & Q(pk__lt=10)

In [53]:
Q(pk__gte=5) | Q(pk__lt=10)

In [54]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (106)>, <Shop: Shop object (105)>, <Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, '...(remaining elements truncated)...']>

In [56]:
conditions = Q(pk__gte=5)
conditions = conditions | Q(pk__lt=10)

conditions

# Update Rows

## 지정 row

In [57]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [58]:
shop.name, shop.telephone

('가게명#4', '042-1234-9004')

In [59]:
shop.telephone = '042-1234-0004'

In [60]:
shop.save()

(0.015) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = '', "telephone" = '042-1234-0004', "photo" = '', "created_at" = '2021-12-01 06:45:31.990723', "updated_at" = '2021-12-01 07:39:20.397653' WHERE "mall_shop"."id" = 10; args=('가게명#4', '', '042-1234-0004', '', '2021-12-01 06:45:31.990723', '2021-12-01 07:39:20.397653', 10)

## 지정 범위의 Rows

In [61]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.015) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

8

In [62]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.031) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-0004', "photo" = '', "created_at" = '2021-12-01 06:45:31.990723', "updated_at" = '2021-12-01 07:42:11.807073' WHERE "mall_shop"."id" = 10; args=('가게명#4', 'not used description', '042-1234-0004', '', '2021-12-01 06:45:31.990723', '2021-12-01 07:42:11.807073', 10)
(0.031) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 06:45:31.982745', "updated_at" = '2021-12-01 07:42:11.834086' WHERE "mall_shop"."id" = 9; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 06:45:31.982745', '2021-12-01 07:42:11.834086', 9)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 06:45:31.975763', "updated_at" = '2021-12-01 07:42:11.860892' WHERE "mall_shop"."id" = 8; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 06:45:31.975763', '2021-12-01 07:42:11.860892', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 06:45:31.953499', "updated_at" = '2021-12-01 07:42:11.870786' WHERE "mall_shop"."id" = 7; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 06:45:31.953499', '2021-12-01 07:42:11.870786', 7)
(0.016) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:41:01.663095', "updated_at" = '2021-12-01 07:42:11.881801' WHERE "mall_shop"."id" = 6; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:41:01.663095', '2021-12-01 07:42:11.881801', 6)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:41:01.323169', "updated_at" = '2021-12-01 07:42:11.889777' WHERE "mall_shop"."id" = 5; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:41:01.323169', '2021-12-01 07:42:11.889777', 5)
(0.015) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 06:11:11.985637', "updated_at" = '2021-12-01 07:42:11.898751' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 06:11:11.985637', '2021-12-01 07:42:11.898751', 4)
(0.000) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 06:11:10.844676', "updated_at" = '2021-12-01 07:42:11.910112' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 06:11:10.844676', '2021-12-01 07:42:11.910112', 3)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()